<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User View Tournaments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>

    <th>
    <td>ID</td>
    <td>name</td>
    <td>tournamentFee</td>
    <td>price</td>
    <td>startDate</td>
    <td>endDate</td>
    </th>
    <tr th:each="tournament : ${ tournamentList }">
        <td></td>
        <td th:text="${ tournament.id }">ID</td>
        <td th:text="${ tournament.name }">name</td>
        <td th:text="${ tournament.tournamentFee }">tournamentFee</td>
        <td th:text="${ tournament.tournamentPrice }">tournamentPrice</td>
        <td th:text="${ tournament.startDate }">startDate</td>
        <td th:text="${ tournament.endDate }">endDate</td>
    </tr>
</table>
<form th:action="@{/user_view_tournaments}" th:object="${tournament}" modelAttribute="tournament" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">

    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" th:field="${tournament.id}" id="id"/></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="${tournament.id}">Id Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="${tournament.name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="${tournament.name}">Name Error</td>
        </tr>
        <tr>
            <td>Fee:</td>
            <td><input type="text" th:field="${tournament.tournamentFee}" /></td>
            <td th:if="${#fields.hasErrors('tournamentFee')}" th:errors="${tournament.tournamentFee}">Tournament Fee Error</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" th:field="${tournament.tournamentPrice}" /></td>
            <td th:if="${#fields.hasErrors('tournamentPrice')}" th:errors="${tournament.tournamentPrice}">Price Error</td>
        </tr>
        <tr>
            <td>StartDate:</td>
            <td><input type="date" th:field="${tournament.startDate}" /></td>
            <td th:if="${#fields.hasErrors('startDate')}" th:errors="${tournament.startDate}">StartDate Error</td>
        </tr>
        <tr>
            <td>EndDate:</td>
            <td><input type="date" th:field="${tournament.endDate}"/></td>
            <td th:if="${#fields.hasErrors('endDate')}" th:errors="${tournament.endDate}">End Date Error</td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="listUpcomingTournaments">List All Upcoming Tournaments</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="listOngoingTournaments">List All Ongoing Tournaments</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="listFinishedTournaments">List All Finished Tournaments</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="listFreeTournaments">List All FREE Tournaments</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="listPaidTournaments">List All PAID Tournaments</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="listAllTournaments">List All Tournaments</button>
        </div>
    </div>

</form>


<h1>
    <span th:text="'Errors: ' + ${message}"></span>
</h1>


</body>
</html>