<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Main View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>


<body>
<form th:action="@{/admin_main_view}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="redirect" value="toAdminCrudUsers">CRUD On Users</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="redirect" value="toAdminCrudTournaments">CRUD On Tournaments</button>
        </div>
    </div>

    <!--<div class="form-group">-->
    <!--<div class="col-sm-offset-4 col-sm-10">-->
    <!--<button class="btn btn-primary" type="submit" name="redirect" value="toAdminCrudCourses">CRUD On Courses</button>-->
    <!--</div>-->
    <!--</div>-->

</form>
</body>
</html>