<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User View Own Account Balance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>

    <th>
    <td>account</td>
    </th>
    <tr th:each="user : ${ userList }">
        <td></td>
        <td th:text="${ user.account }">account</td>
    </tr>
</table>
<form th:action="@{/user_view_account_balance}" th:object="${user}" modelAttribute="user" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">

    <table>
        <tr>
            <td>Account:</td>
            <td><input type="number" th:field="${user.account}" /></td>
            <td th:if="${#fields.hasErrors('account')}" th:errors="${user.account}">Account Error</td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="getCurrentUserAccountBalance">List Balance</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="addSumToUserAccount">Add Money To User Account</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="action" value="withdrawSumFromUserAccount">Withdraw Money From User Account</button>
        </div>
    </div>

</form>


<h1>
    <span th:text="'Errors: ' + ${message}"></span>
</h1>


</body>
</html>